{% extends 'layout.html' %}

{% block body %}
	<h1>About Us</h1>
	<p>The Andela story has attracted a lot of attention, not only from policy makers looking at how this new model might kickstart a moribund educational sector but also from investors who see the start-up as a harbinger of things to come in what has become a multibillion-dollar tech industry subsector. Technological advancements and increasing global demand for high-quality knowledge programmes have created more and more education technology start-ups. The venture capital has followed. According to CB Insights, a venture capital and angel investment database company, ed-tech financing surged 55 percent in 2014. Global Industry Analysts (GIA) reports that in 2015, the global e-learning industry will top $105 billion.</p>
{% endblock %}